ecoles.md
# .gitignore
# Ignore Python bytecode files
*.py[cod]
# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
# Ignore all and anywhere pycache directories
**/__pycache__/

**/.copilot-tracking/*
.copilot-tracking/


#ignorer tout ce qui est git
.git/
**/.git/*
**/.github/*
.github/
